<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head.ejs") %>
    <script src="https://www.paypal.com/sdk/js?client-id=<%=paypal%>"></script>
</head>

<body>
    <header>
        <%- include("partials/navbar.ejs") %>
    </header>
    <main>
        <%- include("component/checkout/checkout-body.ejs") %>
    </main>
    <%- include("partials/footer.ejs") %>
    <%- include("partials/scripts.ejs") %>
</body>

</html>