<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs') %>
  </head>
  <body>
    <header><%- include(navbar) %></header>
    <%for(let i=0; i < success.length; i++){ %>
    <div class="container invalidAlert py-4 text-center">
      <div class="alert alert-success" role="alert"><%=success[i]%></div>
    </div>
    <%}%>
    <section class="container-fluid mt-5 pt-5 mb-5 pb-5">
      <div class="container-lg">
        <div class="company-banner">
          <div class="row">
            <div class="col-sm-8">
              <div class="col-sm-6 company-title text-center">
                <h1>AUTODRIVE</h1>
              </div>
              <div class="col-sm-6 company-slogan text-center">
                <p class="fs-5">Pushing business innovation forward.</p>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="banner-statement">
                <div class="sneak-peek-title">
                  <p class="fs-5">
                    Get a sneak peek of the new features we are working on!
                  </p>
                </div>
                <div class="sneak-peek-button">
                  <a role="button" class="btn btn-dark" href="#"
                    >Check it out</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div></div>
      </div>
    </section>

    <section class="ad-security">
      <!--Grid Layout-->
      <!--Content Area 1-->
      <div class="container-fluid" id="main-div-one">
        <div class="container-lg">
          <div class="col-md-5">
            <div class="row ad-security__info">
              <div class="col-md-12">
                <div class="ad-security__title">
                  <h1 class="h2">Cyber Security</h1>
                </div>
                <div class="ad-security__content">
                  <p class="fs-4">
                    Securing your assets with our help just got easier.
                  </p>
                  <a href="/cyber-security" class="btn btn-light"
                    >Cyber Security</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="container-fluid ad-development">
      <!--Content Area 2-->
      <div class="container-lg">
        <div class="row">
          <div class="col-md-5">
            <div class="ad-development__info">
              <div class="ad-development__title">
                <h1 class="h2">Sound Infrastructure</h1>
              </div>
              <div class="ad-development__content">
                <p class="fs-4">
                  Create your server-side and client-side infrastructure to meet
                  your needs.
                </p>
                <a href="/development" class="btn btn-light" type="button"
                  >Development</a
                >
              </div>
            </div>
          </div>
          <!-- <img src="https://www.jetro.go.jp/ext_images/invest/img/setting_up/mainvisual-pc-01.jpg"> -->
        </div>
      </div>
    </section>

    <section class="ad-analytics">
      <div class="container-fluid ad-analytics__contain">
        <div class="row ad-analytics__row">
          <div class="col-md-6" id="meetings-img-holder">
            <!-- bg-img holder -->
          </div>
          <div class="col-md-6 ad-analytics__textbox">
            <div class="col-sm-12 ad-analytics__info">
              <h1 class="h2">Analytical Precision</h1>
              <p>
                Getting ahead of the curve is the best way to scale above the
                compeititon. With our machine learning tools, you can leverage
                your data and get real insight on what your customers want from
                you.
              </p>
              <a
                class="btn btn-outline-light btn-sm"
                href="/machine-learning"
                role="button"
                >Get Started</a
              >
            </div>
          </div>
        </div>
      </div>
    </section>
    <%- include('partials/footer.ejs') %> <%- include('partials/scripts.ejs') %>
  </body>
</html>
