<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head.ejs") %>
  </head>
  <body>
    <%- include(navbar) %> <%- include("component/store/price-info.ejs") %>
    <%-include("partials/footer.ejs") %> <%- include("partials/scripts.ejs")%>
  </body>
</html>
