<div class="col-md-6 account-items">
  <div class="user-banner">
    <div class="user-image">
      <label for="imageInput" title="Change profile picture">
        <img src="/profile/<%=userPFP%>" id="profile-image" alt="img.png" />
      </label>
      <form
        method="POST"
        action="/profile/avatar"
        enctype="multipart/form-data"
      >
        <input
          type="file"
          accpet="image/*"
          name="avatar"
          id="imageInput"
          style="display: none"
          required
          title="Click on image first."
        />
        <button class="btn btn-dark btn-sm col-5 mt-3" type="submit">
          Change profile picture
        </button>
      </form>
    </div>
    <div class="profile-edit-button col-md-6 mt-3 pt-3">
      <a
        class="btn btn-dark btn-sm col-10"
        data-bs-toggle="collapse"
        href="#collapseEditForm"
        >Edit your profile</a
      >
      <div class="collapse mt-4" id="collapseEditForm">
        <form
          class="updateForm"
          onsubmit="formValidation()"
          action="/profile/update"
          method="post"
        >
          <div class="d-grid mb-2">
            <input
              class="form-control form-control-sm"
              type="text"
              name="username"
              placeholder="Username"
            />
          </div>
          <div class="d-grid mb-2">
            <input
              class="form-control form-control-sm"
              type="text"
              name="company"
              placeholder="Company"
            />
          </div>
          <div class="d-grid mb-2">
            <input
              class="form-control form-control-sm"
              type="text"
              name="location"
              placeholder="Location"
            />
          </div>
          <div class="d-grid mb-2">
            <input
              class="form-control form-control-sm"
              type="text"
              name="position"
              placeholder="Position"
            />
          </div>
          <button class="btn btn-success btn-sm col-12" type="submit">
            Save
          </button>
        </form>
      </div>
    </div>
    <div class="user-bio col-md-6 mt-3 pt-3 pb-3">
      <div class="d-grid col-12 gap-2">
        <div class="">
          <p class="fs-6">User: <%= currentUser %></p>
        </div>
        <div class="">
          <p class="fs-6">Company: <%= currentCompany%></p>
        </div>
        <div class="">
          <p class="fs-6">Location: <%= currentLocation%></p>
        </div>
        <div class="">
          <p class="fs-6">Position: <%= currentPosition%></p>
        </div>
      </div>
    </div>
  </div>
</div>
